body {
    font-family: Arial, Helvetica, sans-serif;
    height: 323px;
    width: 659px;
    border: 2px solid #42b0f5;
    margin: auto;
    margin-top: 2cm;
}


form {
    border: 3px solid white;
    padding: 0px;
    margin-top: 0;
}

button {
    background-color: #26eb2f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.register {
    text-align: center;
    border: 0;

}

#my_button {
    border: 2px solid #3672f4;
    border-radius: 10px;
}

#name {
    /* padding-left: 2cm; */

    border: 2px solid #3672f4;
    background-color: #42b0f5;
    padding: 10px 31px 11px 20px;
    /* margin-top: 0.1cm; */
    /* margin-bottom: 20px; */
}

/* #user_input{
    border: #3672f4;
} */
.group_name {
    color: white;
    /* margin-top: 3cm; */
    position: relative;
    top: 1cm;
    margin-left: 2cm;
    /* text-align: center; */
    border: 0;
    margin-top: 0;
}

.group_gender {
    /* color: white; */
    /* text-align: center; */
    margin-top: 1cm;
    margin-left: 2cm;
    border: 0;
}

#gender {
    color: white;
    border: 2px solid #3672f4;
    background-color: #42b0f5;
    padding: 9px 38px 10px 20px;
}

.option_sex {
    font-size: 18px;
}


.group_department {
    /* color: white; */
    /* text-align: center; */
    margin-top: 0.5cm;
    margin-left: 2cm;
    border: 0;
}

#department {
    color: white;
    border: 2px solid #3672f4;
    background-color: #42b0f5;
    padding: 9px 20px 10px 20px;
}

#select_depart {
    margin-left: 0.2cm;
    font-size: 18px;
    border: 2px solid #3672f4;
    padding: 7px 20px 9px 20px;
}


.group_department select{
    /* use to hide the arraw icon from a dropdown list */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type=text] {
    height: 1.1cm;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0.2cm;
    display: inline-block;
    border: 2px solid #3672f4;
    box-sizing: border-box;
}

input[type=radio] {
    margin-left: 1cm;
    /* border: 10px solid #3672f4; */
    accent-color: blue;
    -ms-transform: scale(1.5);/* IE 9 */
    -webkit-transform: scale(1.5);/* Chrome, Safari, Opera */
    transform: scale(1.3);
}



/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
} */